################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bikash.BookStore/.vs/Bikash.BookStore
/Bikash.BookStore/Bikash.BookStore/bin/Debug/netcoreapp3.1
/Bikash.BookStore/Bikash.BookStore/obj
